<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pictureTape.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F3B688B2ADEADC30083EBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7C0DBF2AE1EA300003F44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F96537A2A51EFD10050FD02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFC45912ABC56B400F217B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
